.content {
    background-color: white;

}
.content-header{
    font-size: 17px;
    font-weight: bold;
    margin: 0px;
    padding: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: rgb(34, 34, 34);
}
.content-list{
    height: 1000px;
}
.categories-list {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

