.card-img-top {
    position: relative;
    height: 0;
    padding-bottom: 120%;
}

.card-img-top .product-item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}
.card {
    /*padding: 6px!important;*/
    border: none;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);

}
product-list-item {

}
.product-list-item:hover {
    background-color: snow;
}



.product-item-name {
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222;
}

.product-item-price {
    color: #d0021b;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.33;
}
.product-item-time {
    color: #9b9b9b;
    font-size: 12px;
}

.product-list-item p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 10px;
    margin-right: 10px;

}
