h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: Helvetica,Arial,Roboto,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: #222;
}

*, :after, :before {
    box-sizing: border-box;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

.register {
    margin: 0;
}

/* header {
    position: fixed;
    z-index: 99;
    background-color: rgb(255, 186, 0);
    height: 100px;
    width: 100%;
    top: 0;
} */

.register-container {
    position: relative;
    top: 100px;
    height: 540px;
}

.register-option {
    display: flex;
    list-style: none;
}

.register-option-home,
.register-option-login {
    display: flex;
    align-items: center;
}

.register-option-home a,
.register-option-login a {
    color: #2A5079;
    text-decoration: none;
    font-size: 12px;
}

.register-option-home a:hover,
.register-option-login a:hover {
    color: #38699f;
}

.register-option-home span,
.register-option-login span {
    font-size: 8px;
    margin: 0 4px;
    color: #9b9b9b;
}

.register-option li p {
   color: #222;
   font-size: 12px;
}

main {
    position:absolute;
    padding: 20px;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    transform: translateX(-50%);
    bottom: 30px;
    left: 50%;
    width: 340px;
    background: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    border-radius: 4px;
}

.main-content {
    margin-top: 16px;
    width: 100%;
}

.form {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    width: 100%;
}

.form-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.form-header-content {
    display: flex;
    flex-direction: column;
}

.form-header-content h3 {
    color: #ffba00;
    margin-bottom: 0;
    font-size: 20px;
}

.form-header-content p {
    color: #9b9b9b;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
}

.form-header-logo {
    width: 87px;
    height: 82px;
}

.form-header-logo > img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.form-input {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 300px;
}

.form-input-phone {
    /* position: relative; */
    width: 100%;
}

.input-phone-number {
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 4px;
    outline: none;
    font-size: .875rem;
    padding: 8px;
    color: #222;
}

.input-down-invisible {
    color: #222;
    min-height: 18px;
    margin: 0;
    line-height: 17px;
}

.btn-normal {     /*button khi input chua co value*/
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #cacaca;
    border-color: #cacaca;
    border-radius: 4px;
    border: none;
    cursor: default;
    padding: 6px 16px;
}

.btn-register {    /*button khi input co value*/
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #fe9900;
    border-color: #fe9900;
    border-radius: 4px;
    border: none;
    cursor: default;
    padding: 6px 16px;
}

.btn-register:hover {
    color: #fff;
    background-color: #ffb647;
    border-color: #ffb647;
}

.register-footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 8px;
}

.register-footer-rules {
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.register-footer-rules a {
    color: #2a5079;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.register-footer-rules a:hover {
    color: #38699f;
}

.register-footer small {
    margin-top: 20px;
    color: #9b9b9b;
}

.register-footer-icons {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-top: 16px;
    margin-bottom: 20px;
}

.icon { 
    cursor: pointer;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    background-position: 50%;
    background-repeat: no-repeat;
}

.facebook {
    background-image: url(https://static.chotot.com/storage/assets/register/facebook.svg);
    margin-right: 16px;
}

.google {
    background-image: url(https://static.chotot.com/storage/assets/register/google.svg);
    margin-right: 16px;
}


.apple {
    background-image: url(https://static.chotot.com/storage/assets/register/apple.svg);
}

.register-footer-register {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 12px;
}

.register-footer-register a {
    color: #2a5079;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.register-footer-register a:hover {
    color: #38699f;
}